<!-- views/charities-show.handlebars -->

<h1>{{charity.gift}}</h1>
<h2>{{charity.charName}}</h2>
<p>{{charity.description}}</p>

<!-- <h1>{{review.title}}</h1>
<h2>{{review.movieTitle}}</h2>
<p>{{review.description}}</p> -->


<!-- const Charity = mongoose.model('Charity', {
  gift: Number,
  charName: String,
  description: String -->
