<!-- views/charities-show.handlebars -->

<h1>{{charity.donation}}</h1>
<h2>{{charity.charName}}</h2>
<p>{{charity.description}}</p>

<p><a href="/charities/{{charity._id}}/edit">Edit</a></p>


<!-- <h1>{{review.title}}</h1>
<h2>{{review.movieTitle}}</h2>
<p>{{review.description}}</p> -->


<!-- const Charity = mongoose.model('Charity', {
  donation: Number,
  charName: String,
  description: String -->
